server {
    listen 80;

    server_name 37.152.183.117;

    location /login {
        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header   Host $http_host;
        proxy_pass         "http://37.152.183.117:8000/login";
    }
}